<%= form_for article do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  Tags
<%= f.select :tag_id, Tag.all.collect { |t| [t.name, t.id]} %>
  <p>
    <%= f.submit %>
  </p>

<% end %>
