<h1> <%= @article.title %> </h1>

<p>
  Read in
  <%= distance_of_time_in_words(Time.now, Time.now+@article.read_time, include_seconds: true) %>
</p>

<p>
  <%= @article.body %>
</p>
<% if @tag%>
TAG<br>
 <%= @tag.name%>
 <% end%>
<p>

<%= link_to 'Edit', edit_article_path(@article) %>
